:root {
    --primary-color: #ff6600;
    --black-color: #000;
    --white-color: #fff;
    --text-color: #161c2db3;
    --dark-color: #232220;
    --dark-heading-color: #eee;
    --dark-text-color: #c2d0da; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body {
    font-family: 'Quicksand', sans-serif;
}
/* 
.dark-mode {
    color: var(--dark-color);
} */

.bg-dark-mode {
    background-color: var(--dark-color);
}

.section__heading h6 {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    color: var(--primary-color);
    margin-bottom: 0;
    letter-spacing: 1px;
}

.section__heading h3 {
    font-size: 38px;
    font-weight: 600;
    line-height: 48px;
}

.primary-btn {  
    font-size: 16px;
    color: var(--white-color);
    background-color: var(--primary-color);
    font-weight: 700;
    padding: 12px 45px;
    transition: all .5s;
    border: 2px solid transparent;
}

.primary-btn:hover {
    opacity: 0.8;
    color: var(--white-color);
    background-color: var(--primary-color);
}

.form__control {
    padding: 10px 50px 10px 20px;
    border-radius: 6px;
    outline: none;
    border: 1px solid transparent;
    transition: all .2s;
    color: var(--text-color);
}

.form__control:hover,
.form__control:focus {
    border-color: var(--primary-color);
}

