/* HEADER  */
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header__content {
    padding: 40px 0 20px;
}

.header__brand {
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    color: var(--white-color);
    transition: all .5s;
}

.header__brand.dark-mode {
    color: var(--dark-color);
}

.header__search .form__input {
    padding: 10px 50px 10px 20px;
    border-radius: 6px;
    outline: none;
    border: 2px solid transparent;
    transition: all .5s;
    color: rgba(22, 28, 45, 0.7);
}

.footer__sub .form__control.dark-mode,
.header__search .form__input.dark-mode {
    background-color: var(--dark-color);
    color: var(--white-color);
}

.header__search .form__input:hover,
.header__search .form__input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
}

.header__search-icon {
    top: 50%;
    right: 25px;
    transform: translate(50%, -50%);
    color: #404040;
}

.header__dark-icon,
.header__light-icon {
    font-size: 24px;
    transform: rotate(-20deg);
    color: var(--white-color);
    cursor: pointer; 
    transition: all .5s;
}

.header__light-icon {
    display: none;
}

.header__light-icon {
    color: var(--dark-color);
}

.header__bar {
    cursor: pointer;
}

.header__bar-icon {
    font-size: 28px;
    color: var(--white-color);
    transition: all .5s;
}

.header__bar-icon.dark-mode {
    color: var(--dark-color);
}

.header__bar:hover .header__bar-icon,
.header__dark-icon:hover,
.header__light-icon:hover  {
    color: var(--primary-color);
}

.header__nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(6, 3, 0, 0.77);
    display: none;
    justify-content: center;
    align-items: center;
    animation: navFadeIn .2s linear;
    /* CHỈNH NÓ FADE OUT NHƯ NÀO NHỈ?  */
}

@keyframes navFadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.nav__close {
    position: absolute;
    top: 40px;
    right: 40px;
    border-radius: 6px;
    border: none;
}


.nav__close:hover {
    opacity: 0.9;
}

.nav__close-icon {
    color: var(--white-color);
    background-color: var(--primary-color);
    line-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    text-align: center;
    border: 2px solid transparent;
}

.nav__close-icon:active {
    border-color: var(--white-color);
}

.nav__list {
    list-style: none;
    text-align: center;
}

.nav__items {
    line-height: 48px;
}

.nav__link {
    font-size: 20px;
    text-decoration: none;
    color: var(--white-color);
    font-weight: 600;
    transition: all .5s;
}

.nav__link:hover {
    color: var(--primary-color);
}

/* CAROUSEL  */
.myCarousel {
    background-image: url('../img/banner1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.carousel__content {
    height: 100vh;
    color: var(--white-color);
    position: relative;
}

.myCarousel .overlay {
    top: 0;
    width: 100%;
    bottom: 0;
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%));
}

.carousel__title {
    font-size: 48px;
    line-height: 58px;
    font-weight: 600;
    transition: all .5s;
}

.carousel__text {
    line-height: 28px;
    transition: all .5s;
}

.carousel__text.dark-mode,
.carousel__title.dark-mode {
    color: #232121;
}

.carousel__btn {
    padding: 12px 45px;
    border-radius: 6px;
    border: 2px solid var(--white-color);
    font-weight: 700;
    color: var(--white-color);
    transition: all .5s;
    text-decoration: none;
}

.carousel__btn.dark-mode {
    border: 2px solid var(--dark-color);
    color: var(--dark-color);
}

.carousel__btn:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
}

/* FIND US  */
.section__heading h3.heading-dark-mode {
    color: #eee;
}

.contact__icon {
    color: var(--primary-color);
    font-size: 18px;
    width: 20px;
    margin-right: 20px;
    margin-top: 5px;
}

.contact__item h5 {
    font-size: 20px;
    color: #232121;
    font-weight: 600;
}

.contact__item h5.heading-dark-mode {
    color: #eee;
}

.contact__link {
    text-decoration: none;
    color: rgba(22, 28, 45, 0.7);
    font-size: 18px;
}

.contact__link:hover {
    text-decoration: underline;
}

.contact__link.text-dark-mode {
    color: #c2d0da;
}

.findUs_map {
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 10px;
}

/* FOOTER  */
footer {
    background-color: #000;
}

.footer__main {
    padding-top: 48px;
    padding-bottom: 48px;
}

.footer__brand {
    font-size: 30px;
    font-weight: 600;
    color: var(--white-color);
    margin-bottom: 16px;
    text-decoration: none;
    display: block;
    transition: all .5s;
}

.footer__brand:hover {
    color: var(--primary-color);
}

.footer__title {
    font-size: 22px;
    color: var(--white-color);
    font-weight: 700;
    margin-bottom: 30px;
}

.footer__item {
    margin-bottom: 10px;
    color: #a5a2a1;
    font-size: 17px;
}

.footer__link {
    text-decoration: none;
    line-height: 26px;
    color: #a5a2a1;
    font-size: 17px;
    transition: all .5s;
}

.footer__link:hover {
    color: var(--primary-color);
}

.footer__icon {
    margin-top: 24px;
}

.footer__icon-item {
    display: inline-block;
    color: var(--primary-color);
    width: 36px;
    height: 36px;
    background-color: var(--white-color);
    border-radius: 6px;
    line-height: 36px;
    text-align: center;
    margin-right: 10px;
    transition: all .5s;
}

.footer__icon-item.dark-mode {
    background-color: var(--dark-color);
}

.footer__icon-item:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.footer__sub .form__control {
    font-size: 18px;
    padding: 14px 20px;
    border-radius: 6px;
    border: 1px solid transparent;
    outline: none;
}

.footer__sub .form__control:focus {
    border-color: var(--primary-color);
}

.footer__btn {  
    font-size: 16px;
    color: var(--white-color);
    background-color: var(--primary-color);
    font-weight: 700;
    padding: 12px 45px;
    transition: all .5s;
}

.footer__btn:hover {
    opacity: 0.8;
    color: var(--white-color);
    background-color: var(--primary-color);
}

.footer__sub .footer__btn:active {
    color: var(--white-color);
    background-color: var(--primary-color);
    border-color: #5933b6;
}

.footer__bottom {
    padding: 20px 0;
}

.footer__bottom-content {
    color: #ddd;
}

.footer__bottom-content a {
    text-decoration: none;
    color: var(--primary-color);
    transition: all .5s;
}

.footer__bottom-content a:hover {
    color: var(--white-color);
}
