/* BANNER  */
.banner {
    min-height: 350px;
    background-image: linear-gradient(to right, rgb(236 98 6 / 98%), rgb(5 3 0 / 83%)), url('../img/banner2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.banner__path {
    font-size: 18px;
    font-weight: 600;
    color: var(--white-color);
}

.banner__path a {
    text-decoration: none;
    color: var(--primary-color);
}

.banner__path i {
    font-size: 12px;
}

/* ABOUT US  */
.pageAboutUs__img {
    border-radius: var(--bd-radius);
}

.pageAboutUs__title,
.pageAboutUs .list__title h3 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

.pageAboutUs__list {
    grid-template-columns: 1.5fr repeat(3, 1fr);
    gap: 16px;
}

.pageAboutUs .list__title-link {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    color: var(--primary-color);
    text-decoration: none;
    transition: all .5s;
}

.pageAboutUs .list__title-link:hover {
    color: #ffc600;
}

/* SKILL  */
.skill {
    background-color: var(--bg-grey-color);
}

.skill__item h5 {
    margin-bottom: 10px;
}

.skill__item span {
    background-color: var(--text-color);
    border-radius: var(--bd-radius);
    height: 6px;
}

.skill__item span::before {
    content: '';
    display: block;
    height: 6px;
    width: 80%;
    background-color: var(--primary-color);
}

.skill__item:nth-child(2) span::before {
    width: 95%;
}

.skill__item:nth-child(3) span::before {
    width: 50%;
}

.skill__img {
    border-radius: var(--bd-radius);
}